<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/main.css"> <!--내가 작성한 css 파일 첨부-->

    <title>Hello, world!</title>
</head>

<body>

    <%- include('nav.html') %>


        <div class="container p-4 detail">
            <h4 class="text-center">채팅방</h4>
            <div class="row">
                <div class="col-3">
                    <ul class="list-group chat-list">
                        <% for( let i=0; i < data.length; i++ ){ %>
                            <li class="list-group-item" data-id="<%= data[i]._id %>">
                                <h6>
                                    <%= data[i].title %>
                                </h6>
                                <h6 class="text-small">
                                    <%= data[i].member[0] %>
                                </h6>
                            </li>
                            <% } %>

                    </ul>
                </div>

                <div class="col-9 p-0">
                    <div class="chat-room">

                        <ul class="list-group chat-content">
                            <!-- <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box">채팅방1 내용</span></li>
                            <li><span class="chat-box mine">채팅방1 내용</span></li> -->
                        </ul>

                        <div class="input-group">
                            <input class="form-control" id="chat-input">
                            <button class="btn btn-secondary" id="send">전송</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>


        <!-- <script>
            $('#send').click(function () { //전송버튼 누르면 입력한 메세지, 채팅방_id 서버로 전송함(DB에 저장하려고)
                var 채팅내용 = $('#chat-input').val();
                var 보낼거 = {
                    parent: 지금누른채팅방id,
                    content: 채팅내용,
                }
                $.post('/message', 보낼거).then(() => {
                    console.log('전송성공');
                })
            })

            var 지금누른채팅방id;
            $('.list-group-item').click(function () { //채팅방 누르면 채팅방_id나옴
                지금누른채팅방id = this.dataset.id;
            })
        </script> -->

        <script>
            $('#send').click(function () {
                var 채팅내용 = $('#chat-input').val();   //1, 2
                var 보낼거 = {
                    parent: 지금누른채팅방id,
                    content: 채팅내용,
                };

                //3
                $.post('/message', 보낼거).then((a) => {
                    console.log(a)
                });

            });


            //4
            var 지금누른채팅방id;
            var eventSource;

            $('.list-group-item').click(function () {
                $(this).css('background-color', '#eee');
                지금누른채팅방id = $(this).attr('data-id');
                $('.chat-content').html(''); //html 비우기

                if(eventSource != undefined) {
                    eventSource.close() //소통채널 나가기
                }

                //유저가 데이터수신은 new EventSource('/경로')
                eventSource = new EventSource('/message/' + 지금누른채팅방id);
                eventSource.addEventListener('test', function(e){ //서버가 보낸거 수신하고 싶으면 작성
                    // console.log(JSON.parse(e.data)); //서버가 응답해줄 떄 마다 실행 되는 코드
                    var 가져온거 = JSON.parse(e.data);
                    가져온거.forEach(function(i){
                        $('.chat-content').append('<li><span class="chat-box">' + i.content + '</span></li>') //html추가하는 법임
                    });
                })
            });

        </script>




        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
        
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script> -->
   
</body>

</html>